extends: default

rules:
  line-length:
    max: 100
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable
  truthy:
    check-keys: false
  braces:
    max-spaces-inside: 1
